/* GENERAL */

@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  background: #fff;
}

body {
    margin: auto;
}

/* CLASE PARA OCULTAR OBJETOS */
.invisible {
    display: none;
}

/* MOBILE */

.header {
  width: 100%;
  background: var(--cabecera-background-mobile);
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  
  padding-left: 22px;
  padding-right: 26px;

}

.logo {
    height: 50px;
    width: 60px;
    
}

.menu_desplegado {
  z-index: 100;
  overflow: hidden;
  position:fixed;
  width: 375px;
  height: 100%;
  background-color: var(--color-texto-diurno);
  opacity: 90%;
  
  
}

.menu_desplegado li {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.menu_desplegado li a {
    text-decoration: none;
    color: var(--color-texto-menu-mobile);
}

.contenido {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-diurno);
}

.texto-principal {
  text-align: center;
  color: var(--color-texto-diurno);
}

.txt_gifos_verde {
  color: var(--color-texto-verde);
}

.ilustracion {
  max-width: 273px;
  max-height: 130px;
}

.contenedor_busqueda_lupa_y_sugerencias{
  border: var(--border-busqueda-diurno);
  border-radius: 40px;
  display:flex;
  flex-direction: column;
}

.contenedor_busqueda_y_lupa {
  height: 50px;
  width: 334px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.contenedor_busqueda {
  width: 215px;
  height: 22px;
  padding: 15px 0px 13px 55px;
}

.input_busqueda{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 215px;
    height: 22px;
    color: var(--color-texto-secundario-diurno);
    
    
}

.input_busqueda:focus {
  outline: none;
}
.input_busqueda::placeholder {
  color: var(--color-texto-gris);
}

#boton_lupa {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    background: url(../img/icon-search.svg) no-repeat;
}

#contenedor_sugerencias {
  display: none; 
  color: var(--color-texto-gris);
  padding: 15px 0px 13px 55px;
  
}

.lupa-sugerencia{
  width: 20px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
  
}

.txt-sugerencia {
  display: inline-block;
  
}

.txt-sugerencia:hover {
  color: var(--color-texto-diurno);
  cursor: pointer;
}

/* TRENDING TOPICS */


.trending_terms_title, .trending_terms_txt {
  color: var(--color-texto-diurno);
  text-align: center;
}

.trending_terms_title {
  width: 236px;
  height: 25px;
  margin: 31px 0px 2px 0px;
  font-size: 16px;
  font-weight: bolder;
}

.trending_terms_txt {
  width: 225px;
  height: 50px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 45px;
}

/* RESULTADOS DE LA BÚSQUEDA */

.contenedor_resultados_busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#termino_buscado {
  width: 375px;
  height: 40px;
  color: var(--color-texto-diurno);
  text-align: center;
  padding: 0px 15px 0px 15px;
}

#gifs_encontrados {
   display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  
}


  .div-imagen {
  display:inline-block;
  position:relative;
  width: 156px;
  height: 120px;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  /*z-index:-1;*/
  width: 156px;
  height: 120px;
  background: var(--color-texto-diurno);
  
}

.gif-desvanecer {
  z-index: -1;
  width: 156px;
  height: 120px;
  position: absolute;
}



.card-layer:hover {
  opacity: 0.7;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.card-layer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
  
  }

  .card-icon {
    margin: 2px;

  }

  .icon-fav {
    background: url("../img/icon-fav.svg") no-repeat;
    height: 32px;
    width: 32px;    
  }
  
  .icon-fav:hover {
    background: url("../img/icon-fav-hover.svg") no-repeat;
  }

  .icon-download {
    background: url("../img/icon-download.svg") no-repeat;
    height: 32px;
    width: 32px;
  }

  .icon-download:hover {
    background: url("../img/icon-download-hover.svg") no-repeat;

  }

  .icon-max {
    background: url("../img/icon-max-normal.svg") no-repeat;
    height: 32px;
    width: 32px;
  }

  .icon-max:hover {
    background: url("../img/icon-max-hover.svg") no-repeat;
  }
  

  .card-titles {
    height: 40px;
    
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
    padding: 4.6%;

  }

  #gif-user {
    font-size: 15px;
    
  }

  #gif-title {
    font-size: 16px;
    font-weight: bold;
  }

#btn_ver_mas {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 50px;
  border: var(--border-busqueda-diurno);
  color: var(--color-texto-diurno);
  font-weight: bolder;
  border-radius: 40px;
  font-size: 13px;
  margin: 50px 0px 50px 0px;
}

#btn_ver_mas:hover {
  background-color:var(--color-texto-verde);
  transition: opacity 500ms;
  cursor: pointer;
}

/* TRENDING GIFOS */
.trending_gifos {
  height: 300px;
  background: #f3f5f8;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 0px 82px 0px;
  
}

.trending_gifos_p1_txt {
  font-size: 20px;
  font-weight: bolder;
  color: var(--color-texto-diurno);
  width: 375px;
  height: 30px;
  text-align: center;
}


.trending_gifos_p2_txt {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: var(--color-texto-secundario-diurno);
  font-size: 16px;
  width: 333px;
  height: 46px;
  margin: 7px 21px 32px 21px;
  align-items: center;
  text-align: center;
  font-weight: lighter;
}


.trending-dinamic-container {
  max-width: 375px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  padding-left: 5.9%;
  overflow: auto;
  white-space: nowrap;
  direction: ltr;
}

.trending-gif-img {
  width: 243px;
  height: 187px;
  margin: 5px;
  object-fit: cover;
  scroll-snap-align: center;

}

.boton_slider_derecha, .boton_slider_izquierda {
  display: none;
}

/* MAXIMIZED */

#div-maximized {
  
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: var(--cabecera-background-mobile);
  opacity: 0.9;
}

#cerrar-maximized {  
  position: absolute;
  top: 59px;
  left: 317px;
  width: 23.7px;
  height: 24px;
  background: url("../img/close.svg") no-repeat;
}

#gif-maximized {
  
  width: 318px;
  height: 245px;
  margin: 156px 28px 14px 29px;
}

#max-titles-icons{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  
  
  width: 318px;
  height: 40px;
  margin: 14px 28px 183px 29px;
}

#max-titles {
  width: 250px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

#max-gif-user {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

#max-gif-title {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


/* FOOTER */

.footer-div {
  width: 375px;
  height: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compartir_txt, .copyright{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.redes_sociales{
  margin: 22px 0px 46px 0px;  
  display: flex;
  justify-content: center;
}

.icono_facebook {
    background: url("../img/icon_facebook.svg") no-repeat;
    display: block;
    width: 13px;
    height: 20px;
    margin: 0px 5px 0px 5px;
}

.icono_facebook:hover {
    background: url("../img/icon_facebook_hover.svg") no-repeat;
    
}

.icono_twitter {
    background: url("../img/icon-twitter.svg") no-repeat;
    display: block;
    width: 18px;
    height: 20px;
    margin: 0px 5px 0px 5px;
}

.icono_twitter:hover {
    background: url("../img/icon-twitter-hover.svg") no-repeat;
    
}

.icono_instagram {
    background: url("../img/icon_instagram.svg") no-repeat;
    display: block;
    width: 18px;
    height: 20px;
    margin: 0px 5px 0px 5px;
}

.icono_instagram:hover {
    background: url("../img/icon_instagram-hover.svg") no-repeat;
    
}



.copyright {
    font-size 14px;
}


/* TABLET */

/* DESKTOP */


/* MODO NOCHE: VER https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp*/

/* CSS SCROLL: VER https://midu.dev/css-scroll-snap-la-solucion-definitiva-a-la-creacion-de-sliders-en-la-web-parte-ii/*/